<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Lab Examples</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://sparkly-abstracted-degree.glitch.me/">Home</a></li>
      <li><a href="/test">Test</a></li>
      <li><a href="https://getbootstrap.com/">To Start HTML Coding: Bootstrap</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/">SMCDSB E-learning</a></li>
    </ul>
  </div>
</nav>
  
<div class="jumbotron text-center">
  <h1 style="background-color:Tomato;">CS50 Labs: The Start of Greatness!</h1>
  <p>Each lab helps you build up from the last.</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Type Casting Example</h3>
      <p>Typecasting is a Unit 2 lab. (To access more vist the Typecasting lab.)</p>
       <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/typecasting/" target="_blank">TYPECASTING</a>
      <script src="https://gist.github.com/JLAPP1/ed45561eed55b483f64ad2ebc3f5f43a.js"></script>
      <p>In this lab, we learned about typecasting. Typecasting is when you convert one variable by assigning it to another and changing its variable type. </p>
    </div>
    <div class="col-sm-4">
      <h3>Arrays</h3>
      <p>Arrays is also a Unit 2 lab. (To access more visit the Arrays about the lab.)</p>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/arrays/" target="_blank">ARRAYS</a>
      <script src="https://gist.github.com/JLAPP1/e0bcf4a8afc806eca7b7a925fbc2a949.js"></script>
      <p>Arrays are a collection of values. For example, you could store five values into an array instead of making 5 different variables/values. In this lab code, we optimized the code to use a forloop for as many days as there were and then the days + their hours.</p>
    </div>
    <div class="col-sm-4">
      <h3>Exit Codes</h3>        
      <p>The finally lab we can look at is also a Unit 2 lab named Exit Codes. (To access more visit the Exit Code link about the lab.) </p>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/exitcodes/" target="_blank">EXITCODES</a>
      <script src="https://gist.github.com/JLAPP1/759bd1f62771f26b854e0e1d8e7cb153.js"></script>
      <p>A different way to check something is through the exit codes. If an exit code is 0, then the code works. If it is not, then it does not work. It is useful for working the code through the terminal.</p>
    </div>
  </div>
</div>

</body>
</html>
